*{margin: 0;padding: 0;border: none;}
body{font-size: 12px;font-family: "微软雅黑";}
a{text-decoration: none;}
ul li{list-style: none;}
img{border: none;}

/*topnav-left*/
.header{width: 100%;color:  #ccc;font-size: 12px;color: #999999;}	
.header-1{width: 100%;height: 30px;border-bottom:1px solid #EDEDEE;background: #F2F2F2;}
.topnav{width: 1090px;margin: 0 auto;}
.topnav-left-1{float: left;height: 30px;line-height:30px;color: black;}
.topnav-left-1 a{text-decoration: none;color: black;}
.topnav-left-2{height: 30px;float: left;margin-left:10px;line-height: 30px;position: relative;}
.topnav-left-2 #tel-img{float: left ;margin-right: 10px;}
.topnav-left-2 a{text-decoration: none;color: black;float: left;}
#tel-img{height: 20px;width: 12px;margin-top: 5px;background: url(../img/producticons.png) no-repeat 0 -64px;}
#tel-ewmimg{padding: 5px 5px 0;position: absolute;left:265px;top: 35px;text-align: center;border: 1px solid #666;display: none;z-index: 10000;background: white;}
#tel-ewmimg p{color: red;}
.topnav-right{float: right;height: 30px;line-height:30px;}

/*topnav-right*/
.topnav-left-1 a:hover{color: red;}
.topnav-left-2 a:hover{color: red;}
.topnav-right{height: 30px;line-height: 30px;float: right;position: relative;}
.qiandao{height:20px;width: 12px;background: url(../img/producticons.png)  no-repeat 0 -64px;margin-top:5px ;float: left;}
.topnav-right ul li{float: left;height: 30px;line-height: 30px;}
.topnav-right ul li:hover{background: white;}
.topnav-right ul li a{color: black;margin: 10px;}
.topnav-right ul li a:hover{color: red;}
.person-home-inner-1,.person-home-inner-2,.person-home-inner-3{border: 1px solid #EDEDEE;display: none;background: white;z-index: 10000;position: absolute;top: 30px;width: 90px;padding: 0 5px;}
.person-home-inner-1{left: 850px;}
.person-home-inner-2{left: 925px;}
.person-home-inner-3{left:1173px;}
.person-home-inner-1 a,.person-home-inner-2 a,.person-home-inner-3 a{height: 28px;display: block;line-height: 28px;white-space: nowrap;color: black;}
.small-pic-1{background: url(../img/icon1_8.png)no-repeat 0 -290px;height: 14px;width: 17px;position: absolute;top: 7px;left: 0px;}
.small-pic-2{background: url(../img/icon1_8.png)no-repeat 0 -324px;height: 14px;width: 20px;position: absolute;top: 35px;left: 0px;}


/*logo条*/
.header-2-inner{height: 100px;width: 1090px;margin: 0 auto;position: relative;}
.logo{position: absolute;top:24px;left: 0;}
.search{position: absolute;left: 343px;top: 24px;height: 60px;width: 511px;}
.topsearchbox{border: 2px solid black;width: 508px;height: 34px;}
.topsearchbox-1{width: 458px;height: 30px;float: left;text-align: center;}
.topsearchbox-2{width: 50px;height: 34px;overflow: hidden;float: left;}
..search-pic{float: left;}
.resou{height: 26px;line-height: 26px;}
.resou ul li{float: left;margin-top: 7px ;}
.resou ul li a{color: #ccc;margin: 0 15px;}
.resou ul li a:hover{text-decoration: underline;}
.gouwuche{height: 36px;text-align: center; line-height: 36px; width: 110px;position: absolute;right: 0;top: 24px;border: 1px solid #CCC;border-radius: 3px;cursor: pointer;}
.gouwuche:hover{background: #EAEAEA;}
#nav-gouwuche{height: 20px;width: 20px;background: url(../img/icon1_8.png)no-repeat -960px -210px;display: inline-block;position: absolute;left: 10px;top: 10px;}

/*导航*/
.nav{height: 42px;width: 100%;border-bottom: 2px solid #151515;}
.nav-box{margin: 0 auto;height: 42px;width: 1090px;position: relative;}
.nav-box-left{width: 160px;float: left;}
.nav-box-left-1{height: 42px;line-height:42px;background: #151515;color: white;position: relative;}
.lineinco{height: 12px;width: 15px;margin: 0 15px 0 27px;display: inline-block;overflow: hidden;}
.lineinco i{width: 15px;height: 0px;border-top:2px solid #ddd;display: block;margin-bottom: 3px;}
.nav-box-left-2{background: #151515;padding: 0 10px;opacity: 0.8;display: none;position:absolute;top: 44px;left: 0px;z-index: 10000;}
.nav-box-left-2-ul{height: 400px;width: 140px;}
.nav-box-left-2-li{height: 39px;color: white;line-height: 39px;text-align: center;border-bottom: 1px solid #666666;position: relative;}
.nav-box-left-2-li .smallnavpic{position: absolute;top: 10px;left: 20px;}
/*.nav-span{height: 25px;width: 16px;background: url(img/icon1_8.png)no-repeat -850px -165px;display: block;position: absolute;top: 8px;right: 20px;}*/

.nav-box-right{height: 40px;}
.nav-box-right ul li {float: left;height: 40px;overflow: hidden;padding: 0 20px;line-height: 40px;}
.nav-box-right ul li a{color: #151515;font-size: 16px;}
.nav-box-right ul li a:hover{color: red;}


.navliinner{height: 399px;width: 930px;position: absolute;top: 43px;left: 160px;overflow: hidden;background: white;border: 1px solid #333;text-align: left;color: #333333;/*display: none;*/z-index: 10000;}
.navliinner-1{width: 610px;height: 370px;margin: 10px 20px 20px;overflow: hidden;float: left;}
.navliinner-1-1,.navliinner-1-2{width: 48%;}
.navliinner-1-1{float: left;}
.navliinner-1-2{float:right}
.navliinner-1-1 a,.navliinner-1-2 a{color: #333333;padding: 0px 10px;border-right:1px solid #333333 ;}
.navliinner-1-1 a:hover,.navliinner-1-2 a:hover{text-decoration: underline;}
.navliinner-1-1 a.active,.navliinner-1-2 a.active{color: red;}

.navliinner-2{width: 245px;height: 100%;overflow: hidden;padding: 20px 17px 0;}
.navliinner-2-1{height: 235px;width: 240px;overflow: hidden;}
.navliinner-2-1 img{height:80px;width: 80px;float: left;}
.navliinner-2-2{text-align: center;height: 100px;line-height: 100px;}


.mian{margin: 0 auto;width: 1100px;font-size: 14px;}
.crumbs{height: 58px;width: 100%;line-height: 58px;font-size: 14px;border-bottom: 1px solid #CBC9C9;}
.crumbs a{color: #333333;}
.crumbs_title{color: #999;}
.clearfix{margin: 20px 0 0;position: relative;}
.pimgbox{float: left;width: 402px;height: 488px;position: relative;display: block;}
.prevent{position: absolute;left: 0;top: 421px;display: inline-block;width: 33px;height: 62px;padding: 1px 0;margin: 0;border: 1px solid #eee;font-size: 38px;line-height: 62px;text-align: center;background: #fff;cursor: pointer;}
.next{position: absolute;right: 0;top: 421px;display: inline-block;width: 33px;height: 62px;padding: 1px 0;margin: 0;border: 1px solid #eee;font-size: 38px;line-height: 62px;text-align: center;background: #fff;cursor: pointer;}


.pinfo{position: relative;float: left;width: 658px;margin-left: 30px;font-size: 13px;height: 620px;}
.ptags{position: absolute;top: 0;right: 0;overflow: hidden;margin-left: -6px;}
.selftag{color: #cf2c48;display: inline-block;width: 54px;height: 22px;margin-left: 6px;padding-right: 6px;line-height: 22px;text-align: right;font-size: 13px;font-weight: 700;background: url(../picture/ptags.jpg)no-repeat;}
.crosstag{color: #8b71c5;display: inline-block;width: 54px;height: 22px;margin-left: 6px;padding-right: 6px;line-height: 22px;text-align: right;font-size: 13px;font-weight: 700;background: url(../picture/ptags.jpg)no-repeat -66px 0;}
.orig_country{color: #999999;}
.orig_country img{width: 24px;height: 24px;vertical-align: middle;}
.orig_country a{color: #999999;}
.product_title{margin-top: 10px;margin-bottom: 10px;font-weight: 600;font-size: 18px;line-height: 26px;}
.subtit{margin-bottom: 11px;color: #333333;line-height: 20px;font-size: 13px;}
.m_price_wrap{background: #f9f9f9;border-bottom: 1px dotted #DDDDDD;padding-bottom: 10px;}
.m_price{position: relative;padding-top: 5px;border-top: 1px dotted #DDDDDD;margin-bottom: -8px;}
.m_price_title{margin-left: 8px;float: left;line-height: 26px;margin: 8px 0;font-size: 13px;width: 75px;color: #666666;display: inline-block;}
.m_price_cnt{margin-left: 71px;}
.current_price{font-size: 26px;color: #D22046;font-weight: 700;margin: 8px 0;display: inline-block;}
.m_discunt{display: inline-block;margin-left: 5px;background: #f68587;height: 18px;line-height: 18px;padding: 0 5px;color: #fff;font-size: 12px;border-radius: 2px;}
.market_price{font-size: 13px;color: #999999;margin-left: 14px;margin-bottom: 8px;display: inline-block;}
.prt_title{display: inline-block;width: 50px;padding: 0 2px;color: #fff;background: #d22147;font-size: 12px;height: 18px;line-height: 18px;text-align: center;}
.prt_desc{color: #d22147;margin-left: 5px;max-width: 400px;}
.m_zd_prt{margin-top: 10px;}
.msg{margin-left: 8px;}
.goods_number,.texrateline,.service,.postage{height: 24px;width: 100%;line-height: 24px;position: relative;margin-top: 15px;}
.m_yunfei_title{position: absolute;left: 0px;top: 0px;}
.send,.from{line-height: 24px;display: inline-block;font-size: 13px;margin-left: 70px;}
.from2{padding: 0 5px;line-height: 24px;display: inline-block;font-size: 13px;}
.towrap{display: inline-block;height: 22px;line-height: 22px;border: 1px solid #ccc;text-align: center;padding: 0 5px;margin-right: 20px;cursor: pointer;}
.tri_down{font-family: iconfont;font-size: 11px;color: #666666;}
.feeinfo{height: 24px;line-height: 24px;}
.buybox{margin-top: 9px;}
.skuwrap{position: relative;width: 581px;left: -15px;border: 2px solid #fff;padding: 0 0 0 13px;margin-bottom: 6px;overflow: hidden;}
.skubox{margin-bottom: 9px;height: 54px;width: 75px;color: #666;line-height: 54px;float: left;}
.clearfix li img{height: 50px;width: 50px;}
.clearfix2 li{float: left;color: #333333;margin: 0 7px 4px 0;position: relative;height: 30px;width: 35px;display:inline-block;border: 1px solid #666;text-align: center;line-height: 30px;}
.buybtns{display: block;margin-top: 20px;position: relative;}
.buybtn{width: 156px;height: 46px;border: 2px solid #d41c44;background: #ffeced;color: #d31b44;line-height: 46px;}
.addcart{width: 180px;height: 50px;line-height: 50px;color: #fff;background: #d22147;}
.m_favbtn,.addcart,.buybtn{display: inline-block;margin-right: 20px;text-align: center;font-size: 18px;font-weight: 700;text-decoration: none;}
.buytips{height: 50px;padding: 10px 0 0;color: #666;margin-top: 10px;font-size: 13px;}
.buytip{float: left;width: 40px;line-height: 25px;}
.buytip_lis{margin-left: 40px;list-style: none;}
.recommend{margin-top: 5px;width: 100%;height: 364px;overflow: hidden;}
.recmtitle{font-weight: 700;height: 38px;line-height: 38px;color: #333333;font-size: 18px;padding: 10px 0;}
.recmtitle b{padding-left: 12px;font-size: 14px;color: #999999;font-weight: normal;}
.rcm_goods_wrap{width: 100%;overflow: hidden;}
.rcm_goods{height: 304px;width: 203px;border: 1px solid #EAEAEA;float:left;margin-left: 15px;margin-bottom: 15px;}
.ctrnum_wrap{display: inline-block;border: 1px solid #ccc;text-align: center;}
.add,.raduce{color: #ccc;background: #F3F3F3;cursor: default;border: 1px solid #ccc;display: inline-block;width: 22px;hanging-punctuation: 22px;line-height: 22px;font-family: iconfont;text-decoration: none;}
.ctrnum{width: 38px;padding: 4px 5px;margin: 0;line-height: 1;height: 14px;font-size: 14px;text-align: center;color: #333;border: none;box-sizing: content-box;}
.rcm_goods img{width: 203px;height: 203px;}
.rcm_goods_p{margin-bottom: 9px;padding: 0 15px;height: 20px;font-size: 12px;line-height: 20px;}
.iteminfo{padding: 0 15px;}
.iteminfo a{padding-left: 5px;color: #999;font-size: 12px;font-weight: 400;}
.price{line-height: 50px;color: #e31436;font-size: 16px;font-weight: 700;}

.mian_2{position: relative;width: 100%;margin-top: 40px;clear: both;overflow: hidden;}
.siderbox{float: left;width: 180px;position: relative;margin-right: 20px;}
.sidegraybox{margin-bottom: 30px;border: 1px solid #EAEAEA;}
.sidegraybox h4{font-weight: 700;color: #333333;font-size: 16px;padding: 8px 10px;border-bottom: 1px solid #EAEAEA;}
.userbuyview{padding-bottom: 10px;}
.userbuy_li{position: relative;margin: 0 10px;padding: 10px 0 16px;border-bottom: 1px solid #EAEAEA;}
.userbuy_li img{width: 158px;height: 158px;}
.goodsdetailwrap{width: 890px;position: relative;float: left;padding-top: 50px;}
.p_nav{top: 0;position: absolute;width: 888px;height: 50px;border: 1px solid #EAEAEA;background: #F8F8F8;}
.active_p{position: relative;display: inline-block;border: 1px solid #EAEAEA;width: 159px;text-align: center;height: 48px;line-height: 48px;font-size: 16px;cursor: pointer;}